<!DOCTYPE html>
<html>

<head>
    <title>Bot</title>
</head>

<body>

    <h1>Welcome to the Bot</h1>
    <div style="display: flex;  flex-direction: row; gap: 12%;">
        <form method="POST">

            {% csrf_token %}

            <button type="submit" name="run_bot">
                Run Bot
            </button>

            <h2>{{ message }}</h2>

        </form>
        <div style="display: flex; flex-direction: column;; border: 1px solid black; height: max-content;">
            <h2>Logs</h2>

            <table border="1" cellspacing="0" cellpadding="10">
                <tr>
                    <th>ID</th>
                    <th>Timestamp</th>
                    <th>Status</th>
                    <th>Message</th>
                </tr>

                {% for log in Logs %}
                <tr>
                    <td>{{ log.0 }}</td>
                    <td>{{ log.1 }}</td>
                    <td>{{ log.2 }}</td>
                    <td>{{ log.3 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

</body>

</html>